.tmpl_option{
  cursor: pointer;
  display: block;
  float: left;
  height: 112px;
  margin: 0 20px 20px;
  position: relative;
  width: 121px;
  z-index: 1;
}
.tmpl_option input {
  left: -20px;
  position: absolute;
  top: 0;
  z-index: 100;
}
.postbox h3, .stuffbox h3 {
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 7px 9px;
}
.info {
  background-color:#F1F1F1; border:1px solid #DDDDDD;padding:7px;
}
.info strong {
  color:#21759B;
}
.z-code-editor {
  font-family: Consolas,Monaco,monospace;
  font-size: 11px; line-height:15px;
  outline: medium none;
  width: 97%;
  border-color: #DFDFDF;
}
.zuppler-options label img {vertical-align: top; margin-right:10px;}